.about_pages{
  height: 8vh;
  background: rgb(52, 52, 52);
  }
  .about_pages ul {
    list-style-type: none;
    margin-left: 20vw;
    padding-top: 12px;
  }
  .about_pages li {
    display: inline;
    margin-right: 12vw;
    font-size: 16px;
    font-weight: bold;
  }
  .about_pages li a{
  color: white;
  }
  .about_pages li a:hover{
    color: #4285F4;
  }